@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <img src="~/images/big-logo.jpg" />
</div>

<div class="row">
    <div class="col-md-4">
        <!--Empty to Center the Trending-->
    </div>
    <div class="col-md-12">
        <h2>About Us</h2>
        <p>Quick Posting, Quick Interactions, Quick Gram!
            We are the first platform to do things quick .. for the gram</p>
    </div>
    <div class="col-md-4">
        <!--Empty to Center the Trending-->
    </div>
</div>